api_endpoint_host: {{ dynatrace_edgeconnect_platform_url | regex_replace('^https?://', '') | regex_replace('/$', '') }}
name: {{ dynatrace_edgeconnect_name }}
oauth:
  endpoint: {{ _edgeconnect_runtime_oauth_endpoint }}
  client_id: {{ _edgeconnect_runtime_oauth_client_id }}
  client_secret: {{ _edgeconnect_runtime_oauth_client_secret }}
  resource: {{ _edgeconnect_runtime_oauth_resource }}
{% if dynatrace_edgeconnect_restrict_hosts_to | length > 0 %}
host_restrictions:
  restrict_hosts_to:
{% for host in dynatrace_edgeconnect_restrict_hosts_to %}
    - {{ host }}
{% endfor %}
{% endif %}
