<!DOCTYPE html>
<html>
    <head>
        <title>Destination {{ destination.name }}</title>
    </head>
    <body>
        <h1>Destination {{ destination.name }}</h1>
        <p>{{ destination.details }}</p>
    </body>
</html>
